<mat-toolbar color="primary">
	<mat-toolbar-row>
	 <span>Novo Cliente</span>
	</mat-toolbar-row>
</mat-toolbar>

<div style="margin:32px;">
  <button mat-raised-button color="primary" (click)="voltar()">Voltar</button>
</div>

<mat-card style="margin:32px;">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input matInput placeholder="Nome" formControlName="nome" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="E-mail" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
    </mat-form-field>
    <br />
		<br />

		<button mat-raised-button color="primary">Salvar</button>
  </form>
  
</mat-card>

